# Gradle
.gradle/
build/
out/
classes/

# IDE (IntelliJ IDEA, Eclipse, VSCode)
.idea/
*.iml
*.ipr
*.iws
*.launch
.settings/
.vscode/
bin/
.classpath
.project

# Системные файлы
*.DS_Store
Thumbs.db

# Fabric (Игнорируем тестовые миры и логи запуска)
run/

# Логи сборки и архивы
*.log
*.jar
*.war
*.zip

# Логи падения Java (Crash logs)
hs_err_pid*
replay_pid*
*.hprof
*.jfr
